@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts
--------------------------------------------- */
@font-face {
	font-family: 'universe';
	src: url('../public/fonts/Universe/Univers-LT-59-Ultra-Condensed.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'universe';
	src: url('../public/fonts/Universe/Univers-LT-49-Light-Ultra-Condensed.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'universe';
	src: url('../public/fonts/Universe/Univers-LT-39-Thin-Ultra-Condensed.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../public/fonts/Open-Sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../public/fonts/Open-Sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
}

html{
  scroll-behavior: smooth;
}

html,
body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}